trigger:
  tags:
    include:
      - v*
  branches:
    include:
      - develop
      - release*
  paths:
    exclude:
      - README.md

variables:
  GOROOT: '/usr/local/go1.15'
  GOPATH: '/tmp/go'
  GOBIN:  '$(GOPATH)/bin'

jobs:
  - job: Test
    pool:
      vmImage: 'Ubuntu-16.04'

    steps:
      - script: |
          mkdir -p '$(GOBIN)'
          mkdir -p '$(GOPATH)/pkg'
        displayName: 'Set up the Go workspace'

      - task: GoTool@0
        inputs:
          version: '1.15'
          goPath: $(GOPATH)
          goBin: $(GOBIN)
        displayName: 'Install Golang'

      - script: |
          set -e
          ./script/check_fmt.sh
        displayName: 'Check Source Format'

      - script: |
          set -e
          script/bootstrap.sh
        displayName: 'Bootstrap'

      - script: |
          set -e
          PATH=$PATH:$(GOBIN)
          make lint test
        displayName: 'Lint and Unit Test'

      - script: |
          set -e
          test/bootstrap.bash
        displayName: 'Bootstrap tests'

      - script: |
          set -e
          test/setup.bash
        displayName: 'Setup test environment'

      - script: |
          set -e
          test/run.bash
        displayName: 'Run tests'

      - script: |
          test/teardown.bash
        displayName: 'Teardown test environment'
